.content {
    min-height: 400px;
    color: #e36b23;
}

.page-header h1 {
    margin: 0;
}

.container > footer p {
    text-align: center; /* centrer le footer */
}

.clearfix textarea {
    width: 400px;
    height: 300px;
}


.cacher_notif {
    display: block;
    float: right;
}

.article img {
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.spacer {
    clear: both;
}

.inputForm {
    width: 100%;
}

form textarea {
    height: 300px;
}

body {
    background-image: url("..//img/bg.jpg");
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 20px;
}

label {
    color: #e36b23;
}

.topbar-right {
    padding-top: 8px;
    float: right;
}

.img-art{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article{
    text-align: center;
}

.search-form {
    padding-left: 10px;
    height: 40px;
    font-size: 18px;
    color: #818285;
    font-weight: 300;
    outline: none;
    border: 1px solid #dbb075;
    margin-top: 20px;
    border-radius: 4px;
}


.field-toggle{
    top: 30px;
    right: 15px;
    display: none;
    height: 50px;
}